<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Category List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar">
  <div class="user-info">
    Welcome, <span th:text="${firstName}">[First Name]</span> <span th:text="${lastName}">[Last Name]</span>!
  </div>
  <div class="nav-links">
    <a href="/categories/category-list">Categories</a>
    <a href="/products/product-list">Products</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<h2>Category List</h2>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="category : ${categories}">
    <td th:text="${category.name}"></td>
    <td th:text="${category.description}"></td>
    <td><a th:href="@{/categories/{id}/edit(id=${category.id})}">Edit</a></td>
    <td><a th:href="@{/categories/{id}/delete(id=${category.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>

<p><a href="/categories/add">Add a new category</a></p>


</body>
</html>
