<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Payment Form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar">
  <div class="user-info">
    Welcome, <span th:text="${firstName}">[First Name]</span> <span th:text="${lastName}">[Last Name]</span>!
  </div>
  <div class="nav-links">
    <a href="/categories/category-list">Categories</a>
    <a href="/products/product-list">Products</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<h2>Payment for Order <span th:text="${order.orderId}"></span></h2>

<form th:action="@{/orders/payment}" method="post">
  <input type="hidden" name="orderId" th:value="${order.orderId}" />

  <label for="paymentType">Payment Type:</label>
  <select name="paymentType" id="paymentType" required>
    <option value="CREDIT_CARD">Credit Card</option>
    <option value="PAYPAL">PayPal</option>
  </select>



  <button type="submit">Submit Payment</button>
</form>
</body>
</html>
