<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Payment Success</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar">
  <div class="user-info">
    Welcome, <span th:text="${firstName}">[First Name]</span> <span th:text="${lastName}">[Last Name]</span>!
  </div>
  <div class="nav-links">
    <a href="/categories/category-list">Categories</a>
    <a href="/products/product-list">Products</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<h2>Payment Successful!</h2>
<p>Thank you for your payment for Order <span th:text="${order.orderId}"></span>.</p>
<p>Total Amount Paid: <span th:text="${order.totalAmount}"></span></p>
<p>Payment Status: <strong>PAID</strong></p>

<a href="/orders/my-orders">Return to Orders</a>
</body>
</html>
