<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="navbar">
  <div class="user-info">
    Welcome, <span th:text="${firstName}">[First Name]</span> <span th:text="${lastName}">[Last Name]</span>!
  </div>
  <div class="nav-links">
    <a href="/categories/category-list">Categories</a>
    <a href="/products/product-list">Products</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Active</th>
    <th>Image</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.active ? 'Yes' : 'No'}"></td>
    <td>
      <img th:src="${product.imageurl}" alt="Product Image" width="50" height="50"/>
    </td>
    <td th:text="${product.categoryName}"></td>
    <td><a th:href="@{/products/{id}/edit(id=${product.id})}">Edit</a></td>
    <td><a th:href="@{/products/{id}/delete(id=${product.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>

<p><a href="/products/add">Add a new product</a></p>

</body>
</html>