<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Eflyer</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/favicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--  -->
  <!-- owl stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesoeet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>

<div class="banner_bg_main">
  <!-- Banner content can remain as-is or be adapted further if needed -->
  <div class="container">
    <div class="banner_section layout_padding">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="banner_taital">Fashion Brand<br>Your favorite brand</h1>
              </div>
              </div>
            </div>
          </div>
          <!-- Additional carousel items can be added here -->
        </div>

      </div>
    </div>
  </div>
</div>

<div class="authenticated_user">
  <h1>Welcome, <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>!</h1>
  <p>Username: <span th:text="${username}"></span></p>
  <p>Role: <span th:text="${role}"></span></p>

</div>
<div class="buynow_bt">
  <a th:if="${role != null and #strings.toUpperCase(role) == 'ADMIN'}" th:href="@{/products/product-list1}">Manage Store</a>
  <a th:if="${role == null or #strings.toUpperCase(role) != 'ADMIN'}" th:href="@{/products/product-list1}">Buy Now</a>
</div>

<!-- footer section start -->
<div class="footer_section layout_padding">

  <div class="container">
    <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png" id="image_footer"></a></div>
    <div class="input_bt">
      <input type="text" class="mail_bt" placeholder="Your Email" name="yasmine.slisli2001@gmail.com">
      <span class="subscribe_bt" id="basic-addon2"><a href="#">Contact Us</a></span>
    </div>
    <div class="footer_menu">
      <ul>
        <li><a href="#">Best Sellers</a></li>
        <li><a href="#">Gift Ideas</a></li>
        <li><a href="#">New Releases</a></li>
        <li><a href="#">Today's Deals</a></li>
        <li><a href="#">Customer Service</a></li>
      </ul>
    </div>
  </div>
    <div class="location_main">Help Line  Number : <a href="#">+33 652 49 46 48</a></div>
  </div>
</div>
<!-- footer section end -->

<!-- Javascript files-->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/jquery-3.0.0.min.js}"></script>
<script th:src="@{js/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{js/custom.js}"></script>

</body>
</html>